/* Reset básico e fonte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 12%);
  --text-color: hsl(0, 0%, 100%);
  --accent-color: hsl(75, 94%, 57%);
  --button-color: hsl(0, 0%, 20%);
  --button-hover: hsl(75, 94%, 57%);
  --switch-bg-url: url(./assets/images/moon-stars.svg);
}

.light {
  --bg-color: hsl(0deg 0% 100%);
  --card-color: hsl(74.85deg 93.64% 56.86%);
  --text-color: hsl(0 0% 20% / 1);
  --accent-color: hsl(0 0% 20% / 1);
  --button-color: hsl(0deg 0% 100%);
  --button-hover: hsl(75deg 100% 14.17%);
  --switch-bg-url: url(./assets/images/sun.svg);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.profile-card {
  background-color: var(--card-color);
  padding: 2.4rem;
  border-radius: 1.2rem;
  max-width: 36rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.profile-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.profile-name {
  font-size: 2rem;
  font-weight: 600;
}

.profile-location {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#switch {
  position: relative;
  width: 64px;

  margin: 0 auto;
}

#switch button {
  height: 32px;
  width: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  /*alinhar o botão com o fundo*/
  transform: translateY(-50%);
  top: 50%;
  left: 0;

  animation: slide-out 0.4s forwards;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--button-color);
  border: 1px solid var(--text-color);
  border-radius: 9999px;
}

.profile-bio {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.social-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn {
  display: block;
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.8rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.btn:hover {
  background-color: var(--button-hover);
  color: var(--card-color);
}

/*animation*/
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}